/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Libre Baskerville'; */
    font-family: 'Montserrat';
    color: #fff;
    background-color: #2B3241;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
    overflow-x: hidden;
    width: 100%;
    font-size: 18px;
    line-height: 2.2;
}

h2 {
    font-family: 'Libre Baskerville';
}

/* Navigation */
nav {
    width: 100%;
    background-color: #2B3241;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    letter-spacing: .5px;
    position: relative; /* Keeps nav as a reference point */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 300px;
    height: auto;
}

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav-menu {
    display: flex;
    list-style-type: none;
}

.nav-menu li {
    margin-left: 1.5em;
}

.nav-menu a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em;
    font-family: 'Montserrat';
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav-menu li:hover {
    transform: scale(1.05);
}

.language-select {
    margin-left: 1em;
}

#language-selector {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#language-selector:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#language-selector option {
    background-color: #1e1e1e;
    color: #ffffff;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

/* Top section */
#top {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Main content */
.img-small {
    display: none;
}
h2 {
    color: #4e4e4e;
    margin-bottom: 1em;
    font-size: 24px !important;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 400;
    font-style: normal;
}

/* bio */
#bio {
    width: 100%;
    padding: 2rem 1rem;
    background-color: #fff;
    color: rgba(78, 78, 78, 1);
    text-align: center;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Paragraph styling with dynamic line breaks */
#bio p {
    width: 90%;
    max-width: 999px;
    margin: 0 auto;
    font-weight: 400;
    line-height: 1.8;
    word-wrap: break-word; 
    word-break: break-word; 
    overflow: visible; 
    height: auto; 
}



/* services */
#services {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.img-big {
    width: 50% !important;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

.content {
    width: 50% ; 
    padding: 65px 80px;
    display: flex;
    flex-direction: column;
    align-items: start !important;
}

.content p {
    align-items: left;
    letter-spacing: 0.02em;
    font-size: 14.7px;
    text-align: left;
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
}

#services h2{
    color: #fff !important;
}
/* process */
#process {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.img-big {
    width: 50% !important; 
    height: auto;
    object-fit: cover;
    object-position: bottom;
}
#process h2{
    color: #fff !important;
}
#drawing {
    width: 100%;
    height: 80px;
    object-fit: cover;
}
/* Links */
.book {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    font-size: 1em;
    white-space: nowrap;
}

a:hover {
    color: inherit;
}

a span {
    margin-right: 20px; 
}

/* Carousel */
#gallery_section {
    background-color: #fff;
    padding-bottom: 100px;
    width: 100%;
}
#gallery {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
    color: #4E4E4E;
    text-align: center;
}

#gallery_button {
    border-color: rgba(78, 78, 78, 1);
    border-width: 1px;
    background-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-radius: inherit;
    box-sizing: border-box;
    height: 100%;
    width: 45%;
    text-align: center;
    margin: 0 auto;
    /* padding: 20px; */

}

#gallery_section a {
    color: rgba(78, 78, 78, 1);
    letter-spacing: 0.2em;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#gallery_section p {
    margin-bottom: 40px;
}
.carousel-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 1rem;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    gap: 20px;
}

.carousel img {
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    height: 350px;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.carousel img:hover {
    transform: scale(1.05);
}

.carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.carousel-nav button {
    background-color: rgba(255, 255, 255, 0.15);
    border: none;;
    padding: 1em;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 1em ;
    font-size: 36px;
}

.carousel-nav button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 10px #00bfff;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background-color: #2B3241;
    ;
    color: white;
    width: 100%;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 90px;
    width: 223.84px;
}

.footer-left a {
    text-decoration: none;
    color: white;
    margin-bottom: 8px;
}

.footer-contact {
    text-align: center;
    /* margin-left: 75px; */
}
#two {
    display: block;
}
#one {
    display: none;
}

.footer-contact img {
    width: 200px;
    height: auto;
}

#contact_links {
    display: flex;
    gap: 16px;
    padding-bottom: 90px;
}

#contact_links a {
    text-decoration: none;
    color: white;
}

#contact_links a:hover {
    transform: scale(1.1);
}

#contact_links img {
    max-height: 30px;
    width: auto;
    margin-bottom: 0.5em;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80%;
    border-radius: 12px;
}

.close {
    position: absolute;
    top: 50px;
    right: 50px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ff9800;
    text-shadow: 0px 0px 8px #ff9800;
}

/* Image Grid */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin: 20px 0;
}

.image-grid img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
    border: none;
    border-radius: 0;
    box-shadow: none;
    transition: transform 0.3s ease;
}

.image-grid img:hover {
    transform: scale(1.05);
}

/* Responsive design */
@media (min-width: 1200px) {
    .content p {
        font-size: 17px;
    }
}
@media (max-width: 992px) {
    .carousel img {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    #gallery {
        width: 80%;
    }
    #contact_links {
        justify-content: center;
        padding-bottom: 0;
    }
    .img-big {
        display: none;
    }
    .content {
        width: 100%;
        margin: 0 auto;
    }
    .img-small {
        display: block;
        width: 100vw;
        height: 200px; 
        object-fit: cover;
        object-position: center;
    }
    #services{
        flex-direction: column;
        margin-bottom: 100px;
        height: auto;
    }
    #process{
        flex-direction: column;
        padding-bottom: 100px;
        height: auto;
    }
}

@media (max-width: 910px) {
    #gallery{
        width: auto;
    }
    .nav-container {
        justify-content: space-between;
    }
    .nav-menu {
        display: none;
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
        flex-direction: column;
        background: linear-gradient(145deg, #1e1e1e, #2c2c2c);
        padding: 1em 0; 
        z-index: 1000;
    }
    .nav-menu li:hover {
        transform: scale(0.95);
    }
    
    
    .nav-menu.active {
        display: flex;
    }
    
    .hamburger.active + .nav-menu {
        top: 0;
    }
    
    .nav-container {
        justify-content: space-between;
        align-items: center;
        padding: 1em;
    }
    
    /* Additional padding adjustments if needed */
    .nav-menu li {
        margin: 0.5em 0;
    }
    
    .hamburger {
        display: flex;
        margin-left: 20px;
    }

    .nav-menu li {
        margin: 0.5em 0;
    }

    .language-select {
        margin-bottom: 5px;
    }

    .hamburger {
        display: flex;
        margin-left: 20px;
    }

    #top h1 {
        font-size: 2.5em;
    }

    .carousel img {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    footer {
        flex-direction: column;
        align-items: center;
        padding: 70px;
        text-align: center;
    }
    
    .footer-contact {
        margin: 0;
        padding-bottom: 20px;
    }
    #two {
        display: none;
    }
    #one {
        display: block;
    }

    .footer-left {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        gap: 16px;
    }
}

@media (max-width: 768px) {
    .carousel img {
        flex: 0 0 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}


@media (max-width: 576px) {
    #top h1 {
        font-size: 2em;
    }
    .logo {
        width: 180px;
        height: auto;
    }
    .carousel img {
        flex: 0 0 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }

    
    .modal-content {
        max-width: 95%;
    }

    .close {
        top: 20px;
        right: 20px;
    }
    #gallery_button {
        width: 80%;
    }
}

/* Adjust hamburger icon when menu is open */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}